mixin blockquote(data)
    .blockquote
        .blockquote__container.container
            .blockquote__w
                p.blockquote__text $5 registration bonus!
                    a.blockquote__link(href="#") Join