doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header/header.pug
  include ../blocks/footer/footer.pug

  include ../blocks/blockquote/blockquote.pug
  include ../blocks/registration/registration.pug
  include ../blocks/about/about.pug


  head
    +head(head.defaults)
  body.page
    .page__inner
        - var pages = __pages;

        ul.list
            each page in pages
                li.list__item
                    a.list__link(href=page.href target="_blank") #{page.name}
    //- .page__bottom
