mixin footer(data)
  footer.footer
    .footer__container.container.flex
      nav.footer__nav.nav
        ul.nav__list.flex
          li.nav__item
            a.nav__link(href="#") Home
          li.nav__item
            a.nav__link(href="#") About us
          li.nav__item
            a.nav__link(href="#") Terms of service
          li.nav__item
            a.nav__link(href="#") Privacy policy