mixin terms(data)
    section.terms
        .terms__container.container
            h1.terms__title.title Terms of service
            .terms__text.wysiwyg
                p
                    strong Most popular spot to earn online by watching videos.

                p Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.
                p Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.
                p Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.
