mixin top(data)
    section.top
        .top__container.container
            h2.top__title.flex
                != pugHelpers.Icon.call(locals, {iconName: 'top-icon', className: 'top__title-icon'})
                | TOP-5 last week
            dl.top__list
                .top__item.flex
                    dt.top__term $108.82
                    dd.top__desc lazy***@***il.com
                .top__item.flex
                    dt.top__term $55.19
                    dd.top__desc hayj*****@***oo.com
                .top__item.flex
                    dt.top__term $49.01
                    dd.top__desc miche****@*****il.com.br
                .top__item.flex
                    dt.top__term $44.80
                    dd.top__desc viktorhu******@****ex.ru
                .top__item.flex
                    dt.top__term $43.77
                    dd.top__desc p6487****@***il.com
